// Первый слайд
.hero__wrapper {
  @media (max-width: $tablet-width) {
    @include wrapper-margin;
  }
}

.hero__contactus {
  position: relative;
  background-color: $dark-blue;
  clip-path: ellipse(80% 83% at center 100px);

  &::before {
    position: absolute;
    content: "";
    width: 400px;
    height: 495px;
    background-image: image-set("../../img/cat-hero-desktop.png" 1x, "../../img/cat-hero-desktop@2x.png" 2x);
    background-image: -webkit-image-set;
    background-repeat: no-repeat;
    top: 60px;
    right: 197px;
    z-index: -1;

    @media (max-width: $desktop-width) {
      left: 55%;
    }

    @media (max-width: $tablet-width){
      background-image: image-set("../../img/cat-hero-mobile.png" 1x, "../../img/cat-hero-mobile@2x.png" 2x);
      width: 150px;
      height: 185px;
      top: auto;
      bottom: -3px;
      left: auto;
      right: -35px;
      z-index: 0;
    }
  }

  @media (max-width: $tablet-width) {
    clip-path: none;
    border-radius: 24px;
  }
}

.hero__title {
  @include wrapper-margin;
  margin-top: 105px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: $light-blue;
  width: 40%;

  &--dark {
    color: $dark-blue;
    margin-top: 136px;
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 85%;
  }
}

.hero__description {
  @include wrapper-margin;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: $aqua;
  margin-top: 0;
  margin-bottom: 32px;
  width: 40%;

  &--dark {
    color: $dark-blue;
    margin-bottom: 24px;

    @media (max-width: $tablet-width) {
      margin-bottom: 16px;
    }
  }

  @media (max-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 85%;
    margin-bottom: 21px;
  }
}

.hero__button {
  @include wrapper-margin;
  margin-bottom: 106px;
  width: 300px;

  @media (max-width: $tablet-width) {
    width: 160px;
    margin-bottom: 182px;
  }
  
  &--order {
    @media (max-width: $tablet-width) {
      margin-bottom: 32px;
    }
    
    &:hover {
      background-color: rgba(57, 69, 115, 0.7);
    }

    &:active {
      background-color: rgba(57, 69, 115, 0.4);
    }
  }
}

// Второй слайд

.hero__order {
  background-image: image-set("../../img/dog-hero-desktop.jpg" 1x, "../../img/dog-hero-desktop@2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;

  @media (max-width: $tablet-width) {
    background-image: image-set("../../img/dog-hero-mobile.jpg" 1x, "../../img/dog-hero-mobile@2x.jpg" 2x);
    border-radius: 24px;
  }
}

.hero__price {
  @include wrapper-margin;
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: $dark-blue;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 111px;
  }
}