.main-header__nav {
  @media (min-width: $tablet-width) {
    margin: 0 50px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 32px;

  @media (max-width: $tablet-width) {
    margin-top: 32px;
  }
}

.main-header__logo {
  @media (max-width: $tablet-width) {
    order: 2;
  }
}