.modal {
  position: fixed;
  display: none;
  background-color: rgba(47, 47, 47, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 592px;
  border-radius: 40px;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    width: 88%;
    border-radius: 24px;
  }
}

.modal__title {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: $dark-blue;
  margin-bottom: 32px;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.modal__close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 32px;
  top: 32px;
  margin: 0;
  display: block;
  border: none;
  background: none;
  padding: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: $dark-blue;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: $tablet-width) {
    top: 16px;
    right: 16px;
  }
}

.modal__radio-text {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: $dark-blue;
  margin-bottom: 16px;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.modal__radio-container {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;

  @media (max-width: $tablet-width) {
    gap: 24px;
    margin-bottom: 16px;
  }
}

.modal__control {
  display: flex;
  align-items: center;
  gap: 12px;

}

.modal__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $dark-blue;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.modal__input[type=radio]+.modal__mark {
  border-radius: 50%;
}

.modal__mark {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid $dark-blue;
  background-color: $white;
  box-sizing: border-box;
  flex-shrink: 0;
}

.modal__input[type=radio]:checked+.modal__mark::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: $dark-blue;
  border-radius: 50%;
}

.modal__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;

  @media (max-width: $tablet-width) {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.modal__input[type=text] {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 2px;
  margin: 0;
  border: none;
  border-bottom: 1px solid $dark-blue;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $dark-blue;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }
}

.modal__button {
  width: 100%;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}