.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 28px;
  align-items: center;
}

.social__link {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;

  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}