// colors

$white: #FFFFFF;
$dark-blue: #394573;
$light-blue: #BEE7E8;
$aqua: #A0D2DB;
$purple-blue: #726DA8;
$text-gray: #333333;

// viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;